# dependencies
node_modules/
.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
/dist

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
*.tsbuildinfo

# local env
.env
.env*.local

# vercel
.vercel

# IDE
.idea/
.vscode/
